{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Статистика Шортер {% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Ідентифікатор</th>
            <th scope="col">Посилання</th>
            <th scope="col">Коротке посилання</th>
            <th scope="col">Створено</th>
            <th scope="col">Кількість переходів</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr>
                    <th scope="row">{{ stat['id'] }}</th>
                    <td>{{ stat['long_url'] }}</td>
                    <td>{{ stat['short_url'] }}</td>
                    <td>{{ stat['created_at']}}</td>
                    <td>{{ stat['redirects'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}